/* body { */
    /* margin : 0px; */
    /* background: linear-gradient(to bottom, #3333cc 0%, #9999ff 100%); */
    /* color : white; */
/* } */
path {
    fill: white;
}
.level {
	margin-bottom:0 !important;
	margin-top:0 !important;
}
.table-wrapper{
	margin-bottom:0 !important;
	margin-top:0 !important;
}
.tab-content{
	padding-top: 0 !important;
}
.dropdown-content{
	padding:0 !important;
}
th{
	text-transform:capitalize;
}
/*
.danger {
    color:red;
}

button {
    border-radius: 12px;
    border:solid;
    border-width:1px;
    color: white;
    background-color:LightSlateGray ;
}
button:disabled{
    border-color: red;
    background-color: red;
}
select {
    width: 120px;
    min-height:30px;
    font-size: 150%;
    border-radius: 12px;
    border:solid;
    border-width:1px;
    color: white;
    background-color:LightSlateGray ;
    padding:0px;
    margin-top:0px;
}
.selMulti{
    display:grid;
    grid-template-columns: repeat(1fr);
    height:7em;
}
.app {
    display:grid;
    grid-template-areas : 'menu'
    'main'
    'footer';
    text-transform : capitalize;
    text-align : center;
    width:100%;
    margin: 0 0 0 0;
    padding: 0px 0px 0px 0px;
}
canvas{
}
login screen
.appLogin{
    grid-area:menu;
    display: grid;
    min-width: 200px !important;
    min-height: 250px !important;
    width:40%;
    text-decoration: none;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    margin-top:  5%;
    margin-left:  30%;
    text-align: center;
}
.appLogin button {
    margin-top:0px;
    width: 40%;
    font-weight: bold;
    height: 32px;
    margin-top: 20px;
}
.appLogin input,label{
    width: 60%;
    font-weight: bold;
    line-height: 32px;
    height: 32px;  or whatever height necessary 
}

main app menu
.appMenu{
    display:grid;
    grid-area:menu;
    max-height: 50px;
    position: fixed;  Set the navbar to fixed position 
    top: 16px;
    grid-template-columns: repeat(12, 1fr);
    text-decoration: none;
    font-weight: bold;
}
.appMain{
    grid-area:main;
    display:grid;
    grid-template-areas : 'mainMenu mainMain';
    grid-template-columns: 1fr 2fr;
    text-decoration: none;
    font-weight: bold;
    width:95%;
    margin:2.5%;
}
.mainMenu{
    grid-area:mainMenu;	
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    text-decoration: none;
    font-weight: bold;
    border:solid;
    border-width:1px;
}
.mainMenu svg{
    width:24;
    height:24; 
}
.mainMenu option{
    text-align: center;
}
.mainMenu input,button {
    width: 120px;
    min-height:30px;
    font-size: 150%;
    padding:0px;
    margin-top:0px;
}
.mainMenu input[type=color] {
	background-color:transparent;
}
input:-moz-read-only {  For Firefox 
    border-color: red;
}
input:read-only { 
    background-color: red;
}
.mainMain{
    grid-area : mainMain;
    text-decoration: none;
    font-weight: bold;
    text-transform : capitalize;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: white
}
.main{
    grid-area:main;
    display : grid;
    grid-template-columns: repeat(5, 1fr);
    text-decoration: none;
    font-weight: bold;
    width:95%;
    margin:2.5%;
}
.mainDash{
    grid-area:main;
    display : grid;
    grid-template-columns: 50% 50%;
    text-decoration: none;
    font-weight: bold;
    width:95%;
    margin:2.5%;
}
.mainDash canvas{
    max-width:99%;
    max-height:300px;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: red transparent green transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.appMain canvas{
    width:90%;
    text-transform : capitalize;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.app-body {
    position: relative;
    top:63px;
    overflow-x: hidden; 
    background-color:#E0E0E0;
    height:auto;
}
 The navigation bar 
.menubar{
    position: fixed;  Set the navbar to fixed position 
    overflow: hidden;    
    top: 0;  Position the navbar at the top of the page 
    width: 100%;  Full width 
    border: solid;
    border-width: 1px;
    height :30px;
    background: #070330;
}
.menubar svg {
    width:auto;
    height: 100%;
}
.menubar a:hover{
    max-height: 30px;
     background-color: #ddd;
}
.menubar a.router-link-active {
    background-color: #150a84;
}
.thead{
    top: 70px;  Position the navbar at the top of the page 
}
.thead-inverse th {
            color: #fff;
            background-color: #373a3c;
        }
.table_grid {
    border: 1px solid;
    background-repeat: no-repeat;
    text-align: center;
    align-self: center;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: top;
    padding : 20px;
}

.modal-container {
  width: 400px;
  height: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  color:black;
}
.modal-container-alert {
    width: 200px;
    height: 40px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 5px 0;
}


 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
 Style the tab 
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

 Style the buttons inside the tab 
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

 Change background color of buttons on hover 
div.tab button:hover {
    background-color: #ddd;
}

 Create an active/current tablink class 
div.tab button.active {
    background-color: #ccc;
}

 Style the tab content 
.tabcontent {
    display: none;
}

.table-fixed tbody {
  max-height:460px;
  overflow-y: auto;
  overflow-x: auto;
}
.navbar{
    min-height: 30px !important;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
th{
    resize: horizontal;
    overflow: auto;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 20px;
    border-top : solid;
    border-width : 1px;
}
@media only screen and (max-width:1080px){
    .app {
        width:100%;
        margin-left: 0;
    }
    .appLogin{
        width :100%;
        margin-left:  0%;
        border-left: none;
        border-right: none;
    }
    .appLogin label,input[type="password"],input[type="text"]  {
        width: 95%;
        font-size: 64px !important;
        line-height: 64px;
        height: 64px;
    }
    .appLogin button{
        width:80% !important;
        height: 64px;
        font-size: 64px;
    }
    .appMain{
        margin-top:64px;
        grid-template-areas : 'mainMenu'
        'mainMain';
        grid-template-columns: 1fr;
    }
    .appMenu{
      height:64px;
    }
    .mainMenu{
        max-width: 100% !important;
    }
    .mainMenu svg{
        width : 48;
        height: 48;
    }
    select{
        width: 95% !important;
        max-width: 100% !important;
    }
    input[type="color"],input[type="text"],
        input[type="date"],input[type="number"],input[type="password"],button {
        width: 95% !important;
        max-width: 100% !important;
        font-size: 200%;
        line-height: 64px;
        height: 64px;
    }
    .mainMenu label {
        display:none;
    }
    svg{
        width : 64;
        height : 64;
    }
    .mainDash{
        display:block;
    }
}*/